{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page!</h1>

    {{ box_1.color }}
    {{ box_1.name }}
    {{ box_1.pk }}


    <div class="d-flex mb-3">
        <div class="d-flex justify-content-center text-center card bg-{{ box_1.color }}" style="width: 150px; height: 150px;">
            <h2><a class="article-title text-white" href="{% url 'about-update' box_1.pk %}">{{ box_1.name }}</a></h2>
        </div>
        <div class="d-flex justify-content-center text-center card bg-{{ box_2.color }} ms-3" style="width: 150px; height: 150px;">
            <h2><a class="article-title text-white" href="{% url 'about-update' box_2.pk %}">{{ box_2.name }}</a></h2>
        </div>
    </div>
    <div class="d-flex ">
        <div class="d-flex justify-content-center text-center card bg-{{ box_3.color }}" style="width: 150px; height: 150px;">
            <h2><a class="article-title text-white" href="{% url 'about-update' box_3.pk %}">{{ box_3.name }}</a></h2>
        </div>
        <div class="d-flex justify-content-center text-center card bg-{{ box_4.color }} ms-3" style="width: 150px; height: 150px;">
            <h2><a class="article-title text-white" href="{% url 'about-update' box_4.pk %}">{{ box_4.name }}</a></h2>
        </div>
    </div>


{% endblock content %}
