{% extends "blog/base.html" %}
{% block content %}

    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div>
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                </div>
                <div class="full-width">
                    <div class="article-metadata">
                        <a class="mr-2 align-bottom post-detail" href="#">{{ post.author }}</a>
                        <small class="text-muted align-bottom post-detail">{{ post.date_posted|date:"dS F Y (P)" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </div>
        </article>
    {% endfor %}

{% endblock content %}
